.monaco-editor-container {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #ffffff80;
  font-size: 14px;
  background-color: #1e1e1e;
}
