/* Split 组件的自定义样式 */

/* 垂直分割的容器 */
.split-vertical {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  width: 100% !important;
}
.gutter {
  position: relative !important;
  left: 0 !important; /* 确保从左边开始 */
  top: 0 !important;
  transition: background-color 0.2s;
  background-color: transparent; /* Tailwind 的 gray-600 */
  cursor: row-resize !important;
  margin: 0 !important;
  z-index: 10 !important;
}

.gutter:hover,
.gutter.dragging {
  background-color: #3b82f6;
}

/* 垂直分隔条(gutter)的样式 */
.split-vertical > .gutter {
  width: 100% !important; /* 确保宽度为100% */
}
.gutter:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b82f6; /* Tailwind 的 blue-500 */
}

/* 添加一个小拖动手柄图标 */
.split-vertical > .gutter:hover::after {
  width: 100%;
  height: 5px !important;
}

/* 水平分割的容器 (如果需要) */
.split-horizontal {
  display: flex !important;
  height: 100% !important;
}

/* 水平分隔条的样式 (如果需要) */
.split-horizontal > .gutter {
  height: 100%;
  cursor: col-resize !important;
}

/* 添加一个小拖动手柄图标 */
.split-horizontal > .gutter:hover::after {
  height: 100% !important;
  width: 5px;
}

/* 添加滚动条隐藏的样式 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
